In [7]:
import numpy as np
import pandas as pd

In [2]:
yenibirdizi = np.random.randint(1,100,20)

In [3]:
yenibirdizi

array([86, 15, 38, 80, 74, 30, 10, 29, 63,  9, 48, 53, 90, 57,  3, 82, 31,
       50, 11,  6])

In [5]:
yenibirdizi2 = yenibirdizi.copy(3)

TypeError: order must be str, not int

In [6]:
sozluk = {"ahmet" : 1, "zeynep" : 2, "mehmet" : 3}

In [8]:
pd.Series(sozluk)

ahmet     1
zeynep    2
mehmet    3
dtype: int64

In [9]:
no = [1,2,3]
isim=["ahmet","zeynep","mehmet"]

In [10]:
pd.Series(no)

0    1
1    2
2    3
dtype: int64

In [11]:
pd.Series(no,isim)

ahmet     1
zeynep    2
mehmet    3
dtype: int64

In [12]:
pd.Series(data=no,index=isim)

ahmet     1
zeynep    2
mehmet    3
dtype: int64

In [14]:
numpdizi=np.array([1,2,3])

In [16]:
pd.Series(numpdizi)

0    1
1    2
2    3
dtype: int32

In [19]:
pd.Series(numpdizi,isim)

ahmet     1
zeynep    2
mehmet    3
dtype: int32

In [20]:
pd.Series(["max","lewis","ric"],[1,2,3])

1      max
2    lewis
3      ric
dtype: object

In [21]:
f1=pd.Series([4,7,9],["max","lewis","ric"])

In [22]:
f1

max      4
lewis    7
ric      9
dtype: int64

In [23]:
f2=pd.Series([10,3,12],["max","lewis","ric"])

In [24]:
f2

max      10
lewis     3
ric      12
dtype: int64

In [25]:
f2["max"]

10

In [26]:
sonuc = f1 + f2

In [27]:
sonuc

max      14
lewis    10
ric      21
dtype: int64

In [32]:
simp1=pd.Series([10,20,30,40],["a","b","c","d"])
simp2=pd.Series([10,2,6,8],["a","b","w","d"])

In [29]:
simp1
simp2

a    10
t     2
w     6
x     8
dtype: int64

In [30]:
simp1

a    10
b    20
c    30
d    40
dtype: int64

In [33]:
simp1 + simp2

a    20.0
b    22.0
c     NaN
d    48.0
w     NaN
dtype: float64